<script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.2/toastr.min.js"></script>

<div class="container">
    <div class="row">
        <div class="col-lg-7">
            <h1>Select an artist to display their albums:</h1>
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <p>
                            <select class="form-control" onload="initialize()" type="text" onchange="artistChanged()" id="sample-select" placeholder="Choose an artist"></select>
                        </p>
                    </div>
                    <div class="col-md-5">
                        <p>
                            <input type="submit" id="search" class="btn btn-primary" value="Add an Artist" onclick="addArtist()"/>
                        </p>
                    </div>
                </div>
            </div>

            <p>Click on an album cover to play a 30 second clip of the first track from it.</p>

            <div id="results"></div>
            <div class="col-xs-4">

            </div>
        </div>
        <div class="col-lg-3">
            <div id="Detail">
            </div>
        </div>
        </div>
</div>

<script id="results-template" type="text/x-handlebars-template">
    {{#each albums.items}}
    <div style="background-image:url({{images.0.url}})" data-album-id="{{id}}" class="cover"></div>
    {{/each}}
</script>

<script type="text/javascript">

    // find template and compile it
    var templateSource = document.getElementById('results-template').innerHTML,
        template = Handlebars.compile(templateSource),
        resultsPlaceholder = document.getElementById('results'),
        playingCssClass = 'playing',
        audioObject = null;

    var fetchTracks = function(albumId, callback) {
        $.ajax({
            url: 'https://api.spotify.com/v1/albums/' + albumId,
            success: function(response) {
                callback(response);
            }
        });
    };

    var searchAlbums = function(query) {
        $.ajax({
            url: 'https://api.spotify.com/v1/search',
            data: {
                q: query,
                type: 'album'
            },
            success: function(response) {
                resultsPlaceholder.innerHTML = template(response);
            }
        });
    };

    results.addEventListener('click', function(e) {
        var target = e.target;
        if (target !== null && target.classList.contains('cover')) {
            if (target.classList.contains(playingCssClass)) {
                audioObject.pause();
            } else {
                if (audioObject) {
                    audioObject.pause();
                }
                fetchTracks(target.getAttribute('data-album-id'), function(data) {
                    audioObject = new Audio(data.tracks.items[0].preview_url);
                    audioObject.play();
                    target.classList.add(playingCssClass);
                    audioObject.addEventListener('ended', function() {
                        target.classList.remove(playingCssClass);
                    });
                    audioObject.addEventListener('pause', function() {
                        target.classList.remove(playingCssClass);
                    });
                });
            }
        }
    });

    window.onload = function initialize() {

        getArtists();

        // setting Toastr plugin settings
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-full-width",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

    }

    function getArtists() {
        $.ajax({
        url: '@Url.Action("GetArtists", "Artists", new {httproute = ""})',
        dataType: 'json',
        processData: true,
        success: function (data, status) {
            $.each(data, function (key, item) {
                $('<option>', { text: item.ArtistName, id: item.ArtistId }).appendTo('#sample-select');
            });
        },
        error: function (jqXHR, errorThrown) { alert(jqXHR.status) }
        });
    }

    function artistChanged() {
        var artist = $("#sample-select option:selected").text();
        searchAlbums(artist);
    }

    function addArtist() {
        // Ajax to display a partial view with add artist form.
        $.ajax({
                dataType: "html",
                url: '@Url.Action("Add")',
                success: function(data) {
                    $('#Detail').hide();
                    $('#Detail').html(data);
                    $('#Detail').fadeIn(1000);
                    $('#CreateArtist').submit(function() {
                        if ($(this).find('input[name="ArtistName"]').val() != "") {
                            $.ajax({
                                url: '@Url.Action("PostArtist", "Artists", new {httproute = ""})',
                                type: "POST",
                                data: $(this).serialize(), // serialize the input controls for this form
                                success: function () {
                                    $('#sample-select').append($("<option></option>").find('input[name="ArtistName"]').val());
                                    $('form').find('input[name="AristName"]').val("");
                                    // setting Toastr plugin settings

                                    toastr.success("Artist added successfully!"); // Calling toastr notifcaiton. cuz plugins.
                                    $('#CreateArtist').find('input[name="ArtistName"]').val("");
                                    $('#sample-select').empty();
                                    getArtists(); //Calling the api to get updated list.
                                }
                            });
                    }
                    return false;
                    });
                },
                error: function() {
                    $('#Detail').html("<h3>Couldn't bring up Add Artist</h3>");
                }
            }
        );
    }

</script>