<br/><form id="CreateArtist" class="panel-body">
    <div class="form-group" style="margin-top: 10px">
        <p><h2 class="btn btn-xs btn-black text-center center-block">Add An Artist</h2></p>
        <p class="text-center">Artist Name:</p>
        <p><input type="text" id="artistTbx" class="center-block text-center" name="ArtistName" required=""></p><br/>
        <p><input type="submit" value="Add" class="btn btn-xs btn-success text-center page center-block" style="margin-top: -5px;" /></p>
        <p><input type="button" value="Cancel" class="btn btn-xs btn-warning text-center center-block" style="margin-top: -5px;" /></p>
    </div>
</form>